@CHARSET "ISO-8859-1";


/*This section is for the body*/
body {
	background-color:#484848; 
	color:white;
}

div.bodyContainer{
	width: 80%; 
	padding-left: 100px;
}

td.col4{
	width:24%;
}
/*This section is for footer*/
#footerContainer{
	text-align:right;
	background-color:#006666;
	padding:20px 2px;
	color:white
}
#footerContent {
	float:left;
	padding-left: 80px;
	font-face:verdana,arial,sans-serif;
}
a.footerLink{
	text-decoration:none;
	Color:white;
}
#footerInnerContainer{
	padding:20px;
}

/*This section is for the home page*/
td.introHeader{
	width:33%; 
	padding: 10px 5px;
}

/*This section is for about us page*/
img.us{
	width : 240px;
	height: 280px;
}

/*Order Entry Form*/
table{
	width: 80%;
	margin-top: 20px;
}

td, td.center-col {
	height: 40px;
}

td.center-col {
	text-align: center;
}

td.right-col {
	text-align: right;
	padding-right: 15px;
}

th {
	color: #424242;
	border:1pt solid #808080;
}

td.tot {
	color: #424242;
	border:1pt solid #808080;
}
.tableContainer {
	padding-left: 20px;
}

#wrapper {
	margin-left:auto;
    margin-right:auto;
    height:auto; 
    width:auto;
}

